{% extends "!breadcrumbs.html" %}
{% if (theme_prev_next_buttons_location == 'top' or theme_prev_next_buttons_location == 'both') and (next or prev) %}
<div class="rst-breadcrumbs-buttons" role="navigation" aria-label="breadcrumb navigation">
  {% if next %}
  <a href="{{ next.link|e }}" class="btn btn-neutral float-right" title="{{ next.title|striptags|e }}" accesskey="n"><span class="fa fa-arrow-circle-right"></span></a>
  {% endif %}
  {% if prev %}
  <a href="{{ prev.link|e }}" class="btn btn-neutral" title="{{ prev.title|striptags|e }}" accesskey="p"><span class="fa fa-arrow-circle-left"></span></a>
  {% endif %}
</div>
{% endif %}
{% block breadcrumbs %}
      <li><a href="{{ pathto(master_doc) }}">{{ _('Data Storage Tag Documentation') }}</a> &raquo;</li>
        {% for doc in parents %}
          <li><a href="{{ doc.link|e }}">{{ doc.title }}</a> &raquo;</li>
        {% endfor %}
      <li>{{ title }}</li>
    {% endblock %}
