{% extends "!layout.html" %}
{% block extrahead %}
    <link href="{{ pathto("_static/style.css", True) }}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
	  integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
	  crossorigin="anonymous">

{% endblock %}
{% block menu %}
{#
The singlehtml builder doesn't handle this toctree call when the
toctree is empty. Skip building this for now.
#}
{% if 'singlehtml' not in builder %}
{% set global_toc = toctree(maxdepth=theme_navigation_depth|int, collapse=theme_collapse_navigation, includehidden=True) %}
{% endif %}
{% if global_toc %}
{{ global_toc }}
{% else %}
<!-- Local TOC -->
<div class="local-toc">{{ toc }}</div>
{% endif %}
<br/>
 <table style="width:100%">
  <tr>
    <td>
      <p align="center" style="color:#b3b3b3;">
        <a href="https://bitbucket.org/jumaili/data-storage-tag-project/src/master/  "target="_blank" title="Data Storage Tag Project Bitbucket Repository">
          <i class="fa fa-bitbucket fa-2x"></i>
        </a>
      </p>
    </td>
    <td>
      <p align="center" style="color:#b3b3b3;">
        <a href="https://bitbucket.org/jumaili/data-storage-tag-project/commits/all" "target="_blank" title="Commit History">
          <i class="fas fa-history fa-2x"></i>
        </a>
      </p>
    </td>
    <td>
      <p align="center" style="color:#b3b3b3;">
         <a href="https://dst-ntnu.bitbucket.io/download/Aljumaili-thesis.pdf" "target="_blank" title="Master Thesis Publication">
          <i class="fas fa-graduation-cap fa-2x"></i>
        </a>
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p align="center" style="color:#b3b3b3;">
        <a href="https://dst-ntnu.bitbucket.io/download/dst-user-guide.pdf" "target="_blank" title="PDF of Website">
          <i class="fa fa-file-pdf fa-2x"></i>
        </a>
      </p>
    </td>
    <td>
      <p align="center" style="color:#b3b3b3;">
        <a href="https://dst-ntnu.bitbucket.io/download/pcb-3d-model.pdf" "target="_blank" title="PCB 3D Model">
          <i class="fa fa-cube fa-2x"></i>
        </a>
      </p>
    </td>
    <td>
      <p align="center" style="color:#b3b3b3;">
      <a href="https://dst-ntnu.bitbucket.io/download/pcb-schematics.pdf" "target="_blank" title="PCB Schematics">
          <i class="fa fa-microchip fa-2x"></i>
        </a>   
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p align="center" style="color:#b3b3b3;">
        <a href="https://bitbucket.org/jumaili/data-storage-tag-project/src/master/Extra/TI-Code-Examples/" "target="_blank" title="Code Examples">
          <i class="fa fa-code fa-2x"></i>
        </a>
      </p>
    </td>
    <td>
      <p align="center" style="color:#b3b3b3;">
        <a href="https://bitbucket.org/jumaili/data-storage-tag-project/src/master/Extra/Research%20Budgets/" "target="_blank" title="Research Budgets">
          <i class="fa fa-table fa-2x"></i>
        </a>
      </p>
    </td>
    <td>
      <p align="center" style="color:#b3b3b3;">
       <a href="https://www.linkedin.com/in/ali-al-jumaili/" "target="_blank" title="Ali Aljumaili Linkedin">
          <i class="fa fa-linkedin fa-2x"></i>
        </a>   
      </p>
    </td>
  </tr>


</table> 
{% endblock %}
